<%= form_for([@invoice, @invoice.lines.build]) do |f| %>
<div class="form-section">
	<div class="form-elements">
		<div class="form-element">
			<%= f.label :description %>
			<%= f.text_field :description, :required => true %>
		</div>
		<div class="form-element">
			<%= f.label :hours %>
			<%= f.text_field :hours %>
		</div>
		<div class="form-element">
			<%= f.label :rate %>
			<%= f.text_field :rate, :placeholder => @ratePlaceholder %>
		</div>
		<div class="form-element">
			<%= f.label :total %>
			<%= f.text_field :total, :required => true, :placeholder => 'Total' %>
		</div>
		<div class="form-element form-element-radio-wrap full">
			<%= check_box(:line, :discount, {}, 'true', 'false') %>
			<%= f.label :discount, 'Discount?' %>
		</div>
	</div>
</div>
<button type="submit" class="btn btn-success btn-block"><%= icon('far', 'save', class: 'left') %>Create</button>
<% end %>
