<%= form_for([@invoice, @invoice.lines.build]) do |f| %>
<div class="form-elements">
	<div class="form-element">
		<%= f.text_field :description, :required => true, :placeholder => 'Description' %>
	</div>
	<div class="form-element">
		<%= f.text_field :hours, :placeholder => 'Hours', class: 'text-center' %>
	</div>
	<div class="form-element">
		<%= f.text_field :rate, :placeholder => @ratePlaceholder, class: 'text-center' %>
	</div>
	<div class="form-element">
		<%= f.text_field :total, :required => true, :placeholder => 'Total', class: 'text-center' %>
	</div>
	<div class="form-element full">
		<%= check_box(:line, :discount, {}, 'true', 'false') %>
		<%= f.label :discount, 'Discount?' %>
  </div>
</div>
<button type="submit" class="btn btn-success btn-block"><%= icon('far', 'save', class: 'left') %>Create</button>
<% end %>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('#line_hours, #line_rate').change(function() {
		var totalCharged = $('#line_hours').val() * $('#line_rate').val();
		$('#line_total').val(totalCharged);
	});
});
</script>
