<tr>
	<td><% if user_signed_in? %><%= link_to [line.invoice, line], method: :delete, data: { confirm: 'Are you sure?' } do %><%= icon('fas', 'trash-alt', class: 'red') %><% end %><% else %>&nbsp;<% end %></td>
  <td><%= line.description %></td>
  <% if line.hours.present? %>
  <td class="text-center"><%= line.hours %></td>
  <td class="currency text-center"><%= number_to_currency(line.rate, { :unit => ''}) %></td>
  <% else %>
  <td class="text-center">&mdash;</td>
  <td class="text-center">&mdash;</td>
  <% end %>
  <td class="currency"><div class="pull-right"><%= number_to_currency(line.total, { :unit => '', :negative_format => '(%n)' }) %></div>$</td>
</tr>
