<tr>
	<td><%= link_to [line.invoice, line], method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o red"></i><% end %></td>
  <td><%= line.description %></td>
  <% if !line.hours.blank? %>
  <td class="text-center"><%= line.hours %></td>
  <td class="text-center"><%= number_to_currency(line.rate, { :unit => ''}) %></td>
  <% else %>
  <td class="text-center">&mdash;</td>
  <td class="text-center">&mdash;</td>
  <% end %>
  <td><div class="pull-right"><%= number_to_currency(line.total, { :unit => '', :negative_format => '(%n)' }) %></div>$</td>
</tr>