<section id="user-signup">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <% if !notice.nil? %>
        <p><%= notice %></p>
        <% end %>
        <% if !alert.nil? %>
        <p><%= alert %></p>
        <% end %>
        <h2 class="text-center">Sign Up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Sign Up</button>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
