<tr>
  <td></td>
  <td bgcolor="#ffffff" class="container">
    <div class="content">
      <table>
        <tr>
          <td>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EmailMessage",
  "description": "Review Invoices",
  "potentialAction": {
    "@type": "ViewAction",
    "target": "<%= invoices_url %>",
    "name": "Review Invoices"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Sefer Design Co.",
    "url": "https://seferdesign.com"
  }
}
</script>
            <h3>Monthly Activity Summary<br>
            <small><%= @date_start.strftime("%A, %B %e") %> through
            <%= @date_end.strftime("%A, %B %e") %></small></h3>
            <p><a href="<%= root_url + 'years/' + @date_start.year.to_s + '/income.csv' %>">Income CSV</a> &bull; <a href="<%= root_url + 'years/' + @date_start.year.to_s + '/expenses.csv' %>">Expenses CSV</a></p>
						<p><strong>Invoices Paid</strong> - <%= pluralize(@invoicesPaid.count, 'invoice') %>
            totalling $<%= @invoicesPaid.sum('cost').to_f %></p>
						<% if @invoicesPaid.count > 0 %>
						<table class="invoice-list-table">
							<thead>
								<tr>
									<th align="center">Date Paid</th>
									<th align="center">Date Issued</th>
									<th align="center">Client</th>
									<th align="right">Amount</th>
								</tr>
							</thead>
							<tbody>
								<%@invoicesPaid.each do |invoice| %>
								<tr>
									<td align="center"><%= link_to invoice.paiddate, root_url + 'invoices/' + invoice.id.to_s %></td>
									<td align="center"><%= invoice.date %></td>
									<td align="center"><%= link_to invoice.client.name, root_url +  'clients/' + invoice.client.id.to_s %></td>
									<td align="right">$<%= number_with_precision(invoice.cost, precision: 2) %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
						<% else %>
						<p>No invoices paid in this period.</p>
						<% end %>
            <p><strong>Invoices Sent</strong> - <%= pluralize(@invoicesSent.count, 'invoice') %>
            totalling $<%= @invoicesSent.sum('cost').to_f %></p>
						<% if @invoicesSent.count > 0 %>
						<table class="invoice-list-table">
							<thead>
								<tr>
									<th align="center">Date Issued</th>
									<th align="center">Client</th>
									<th align="right">Amount</th>
								</tr>
							</thead>
							<tbody>
								<% @invoicesSent.each do |invoice| %>
								<tr>
									<td align="center"><%= link_to invoice.date, root_url + 'invoices/' + invoice.id.to_s %></td>
									<td align="center"><%= link_to invoice.client.name, root_url +  'clients/' + invoice.client.id.to_s %></td>
									<td align="right">$<%= number_with_precision(invoice.cost, precision: 2) %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
						<% else %>
						<p>No invoices sent in this period.</p>
						<% end %>
            <% if @expenses.present? and @expenses.count > 0 %>
						<p><strong>Expenses</strong> - <%= pluralize(@expenses.count, 'expense') %>
            totalling $<%= @expenses.sum('cost').to_f %></p>
						<table class="expense-list-table">
							<thead>
								<tr>
									<th align="center">Date</th>
									<th align="center">Vendor</th>
									<th align="right">Amount</th>
								</tr>
							</thead>
							<tbody>
								<% @expenses.each do |expense| %>
								<tr>
									<td align="center"><%= link_to expense.date, root_url + 'expenses/' + expense.id.to_s %></td>
									<td align="center"><%= link_to expense.vendor.name, root_url +  'vendors/' + expense.vendor.id.to_s %></td>
									<td align="right">$<%= number_with_precision(expense.cost, precision: 2) %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
						<% else %>
						<p><strong>No expenses incurred in this period.</strong></p>
						<% end %>
          </td>
        </tr>
      </table>
    </div>
  </td>
  <td></td>
</tr>
