<%= form_for @invoice do |f| %>
	<% if @invoice.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
		<ul>
			<% @invoice.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="row">
		<div class="col-lg-4 col-sm-6">
			<div class="form-group">
				<%= f.label :client_id, 'Client' %>
				<%= collection_select(:invoice, 'client_id', Client.all, :id, :name, {}, { :class => 'form-control' }) %>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="form-group">
				<%= f.label :project_id, 'Project' %>
				<%= collection_select(:invoice, 'project_id', Project.all, :id, :project_client_and_name, {}, { :class => 'form-control' }) %>
			</div>
		</div>
		<div class="col-lg-2 col-sm-6">
			<div class="form-group">
				<%= f.label :date, 'Invoice Date' %>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<%= f.text_field :date, :required => true, :placeholder => 'YYYY-MM-DD', class: 'form-control datepicker' %>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-sm-6">
			<div class="form-group">
				<%= f.label :cost %>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-usd"></i></span>
					<%= f.text_field :cost, :placeholder => '0.00', class: 'form-control text-right' %>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<%= f.label :worktype, 'Work Type' %><br>
				<%= radio_button('invoice', 'worktype', 'Contract') %>
				<%= label_tag(:invoice_worktype_contract, 'Contract') %>
				<%= radio_button('invoice', 'worktype', 'Hourly') %>
				<%= label_tag(:invoice_worktype_hourly, 'Hourly') %>
				<%= radio_button('invoice', 'worktype', 'Retainer') %>
				<%= label_tag(:invoice_worktype_retainer, 'Retainer') %>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="form-group">
				<%= f.label :description %>
				<% if @invoice.description.blank? %>
				<%= f.text_area :description, class: 'form-control', value: 'This invoice represents work on ' %>
				<% else %>
				<%= f.text_area :description, class: 'form-control' %>
				<% end %>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-2 col-sm-6">
			<div class="form-group">
				<%= f.label :paid, 'Paid Status' %><br>
				<%= radio_button('invoice', 'paid', true) %>
				<%= label_tag(:invoice_paid_true, 'Paid') %>
				<% unless @invoice.paid %>
				<%= radio_button('invoice', 'paid', false, :checked => 'checked') %>
				<% else %>
				<%= radio_button('invoice', 'paid', false) %>
				<% end %>
				<%= label_tag(:invoice_paid_false, 'Not Paid') %>
			</div>
		</div>
		<div class="col-lg-2 col-sm-6">
			<div class="form-group">
				<%= f.label :paiddate, 'Paid Date' %>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<%= f.text_field :paiddate, :placeholder => 'YYYY-MM-DD', class: 'form-control datepicker' %>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-sm-6">
			<div class="form-group">
				<%= f.label :paymenttype, 'Payment Type' %>
				<%= select(:invoice, 'paymenttype', payment_types, { :include_blank => 'None' }, { :class => 'form-control' }) %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="fa fa-save left"></i>Save</button>
			</div>
		</div>
	</div>
<% end %>
