<%= form_for @invoice do |f| %>
	<% if @invoice.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
		<ul>
			<% @invoice.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="form-section panel">
		<div class="form-description">
			Basic Info
		</div>
		<div class="form-elements">
			<div class="form-element full">
				<%= f.label :client_id, 'Client' %>
				<%= collection_select(:invoice, 'client_id', Client.all, :id, :name, { :include_blank => true, :selected => params[:action] == 'edit' ? @invoice.client.id : (params[:client_id].present? ? params[:client_id] : (@copied_invoice ? @copied_invoice.client.id : '')) }) %>
				<script>$('invoice_client_id').change();</script>
			</div>
			<div class="form-element">
				<%= f.label :date, 'Invoice Date' %>
				<%= f.date_field :date, :required => true, :placeholder => 'YYYY-MM-DD', :pattern => '\d{4}-\d{2}-\d{2}', :value => @invoice.date ? @invoice.date : Time.now.strftime("%Y-%m-%d") %>
			</div>
			<div class="form-element">
				<%= f.label :cost %>
				<%= f.text_field :cost, :placeholder => '0.00' %>
			</div>
			<div class="form-element full">
				<%= f.label :description %>
				<div class="description-prefills"><a href="#" data-slug="yesterday">Yesterday</a> | <a href="#" data-slug="today">Today</a></div>
				<% if @copied_invoice %>
				<%= f.text_area :description, value: @copied_invoice.description %>
				<% elsif @invoice.description.blank? %>
				<%= f.text_area :description, value: 'This invoice represents work through ' + 1.day.ago.strftime("%Y-%m-%d") + '.' %>
				<% else %>
				<%= f.text_area :description %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="form-section panel">
		<div class="form-description">
			Payment
		</div>
		<div class="form-elements">
			<div class="form-element form-element-radio-wrap full">
				<%= f.label :paid, 'Paid Status' %>
				<%= radio_button('invoice', 'paid', true) %>
				<%= label_tag(:invoice_paid_true, 'Paid') %>
				<% unless @invoice.paid %>
				<%= radio_button('invoice', 'paid', false, :checked => 'checked') %>
				<% else %>
				<%= radio_button('invoice', 'paid', false) %>
				<% end %>
				<%= label_tag(:invoice_paid_false, 'Not Paid') %>
			</div>
			<div class="form-element">
				<%= f.label :paiddate, 'Paid Date' %>
				<%= f.date_field :paiddate, :placeholder => 'YYYY-MM-DD', :pattern => '\d{4}-\d{2}-\d{2}' %>
			</div>
			<div class="form-element">
				<%= f.label :paymenttype, 'Payment Type' %>
				<%
					selectedPaymentType = nil
					if @invoice.paid and @invoice.paymenttype.present?
						selectedPaymentType = @invoice.paymenttype
					elsif params[:client_id].present?
						selectedPaymentType = Client.find(params[:client_id]).preferred_paymenttype
					end
				%>
				<%= select(:invoice, 'paymenttype', payment_types, { :include_blank => 'None', :selected => selectedPaymentType }) %>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success"><%= icon('far', 'save', class: 'left') %>Save</button>
<% end %>
