<% provide(:title, 'Invoices | ') %>
<section id="invoices-list">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Invoices</h1>
				<p><%= link_to 'Home', root_path %></p>
				<p><%= link_to new_invoice_path, { :class => 'btn btn-success' } do %><i class="fa fa-plus left"></i>New Invoice<% end %></p>
				<h2>Recent &amp; Unpaid Invoices</h2>
				<div class="row">
					<div class="col-sm-12">
						<% if @invoices.blank? %>
						<p class="lead">No invoices.</p>
						<% else %>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Client</th>
									<th class="hidden-xs">Project</th>
									<th>Date</th>
									<th class="text-center hidden-xs">Type</th>
									<th class="text-right hidden-xs">Cost</th>
									<th class="text-center">Paid?</th>
								</tr>
							</thead>
							<tbody>
								<% @notableInvoices.each do |invoice| %>
								<tr id="invoicerow<%= invoice.id %>">
									<td><%= link_to Client.find(invoice.client_id) do %><%= Client.find(invoice.client_id).name %><% end %></td>
									<td class="hidden-xs"><%= link_to Project.find(invoice.project_id) do %><%= Project.find(invoice.project_id).name %><% end %></td>
									<td><%= link_to invoice do %><%= invoice.date %><% end %></td>
									<td class="text-center hidden-xs"><% if invoice.worktype == 'Contract' %>C<% elsif invoice.worktype == 'Hourly' %>H<% elsif invoice.worktype == 'Retainer' %>R<% end %></td>
									<td class="text-right hidden-xs"><% if invoice.cost %><%= number_to_currency(invoice.cost, { :negative_format => '(%n)' }) %><% else %>&mdash;<% end %></td>
									<td class="text-center"><% if invoice.paid == true %><i class="fa fa-check green"></i><% else %><span class="spread red">Not Paid</span><% end %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
						<% end %>
					</div>
				</div>
				<%= render 'layouts/financialdash' %>
			</div>
		</div>
	</div>
</section>
