<section id="invoices-list">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Invoices</h1>
				<p><%= link_to 'Home', root_path %></p>
				<p><%= link_to new_invoice_path, { :class => 'btn btn-success' } do %><i class="fa fa-plus left"></i>New Invoice<% end %></p>
				<% @totalOwed = @totalPaid = @totalContract = @totalHourly = 0 %>
				<div class="row">
					<div class="col-sm-6">
						<% if @invoices.blank? %>
						<p class="lead">No invoices.</p>
						<% else %>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Client</th>
									<th>Date</th>
									<th class="text-center hidden-xs">Type</th>
									<th class="text-right hidden-xs">Cost</th>
									<th class="text-center">Paid?</th>
								</tr>
							</thead>
							<tbody>
								<% @invoices.sort { |a,b| a.date <=> b.date }.each do |invoice| %>
								<tr id="invoicerow<%= invoice.id %>">
									<td><%= link_to Client.find(invoice.clientid) do %><%= Client.find(invoice.clientid).name %><% end %></td>
									<td><%= link_to invoice do %><%= invoice.date %><% end %></td>
									<td class="text-center hidden-xs"><% if invoice.worktype == 'Contract' %>C<% @totalContract += invoice.cost elsif invoice.worktype == 'Hourly' %>H<% @totalHourly += invoice.cost end %></td>
									<td class="text-right hidden-xs"><% if invoice.cost %>$<%= number_with_precision(invoice.cost, :precision => 2, :delimiter => ',') %><% else %>&mdash;<% end %></td>
									<td class="text-center"><% if invoice.paid == true %><i class="fa fa-check green"></i><% @totalPaid += invoice.cost else @totalOwed += invoice.cost %><span class="spread red">Not Paid</span><% end %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
						<% end %>
					</div>
					<div class="col-sm-6">
						<h3>Paid: <span class="pull-right currency green">$<%= number_with_precision(@totalPaid, :precision => 2, :delimiter => ',') %></span></h3>
						<h3>Owed: <span class="pull-right currency red">$<%= number_with_precision(@totalOwed, :precision => 2, :delimiter => ',') %></span></h3>
						<hr>
						<h3>Contract: <span class="pull-right currency text-info">$<%= number_with_precision(@totalContract, :precision => 2, :delimiter => ',') %></span></h3>
						<h3>Hourly: <span class="pull-right currency text-warning">$<%= number_with_precision(@totalHourly, :precision => 2, :delimiter => ',') %></span></h3>
						<canvas id="chartHourlyContract" class="chart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">

	var options = {
		segmentShowStroke: true,
		segmentStrokeColor: '#fff',
		segmentStrokeWidth: 2,
		animation: false
	}
	
	var dataChartHourlyContract = [{
		value: <%= (@totalContract / (@totalContract + @totalHourly)) * 100 %>,
		color: '#3a87ad'
	}, {
		value : <%= (@totalHourly / (@totalContract + @totalHourly)) * 100 %>,
		color : '#c09853'
	}]
	
	var ctx1 = document.getElementById('chartHourlyContract').getContext('2d');
	var chartHourlyContract = new Chart(ctx1).Pie(dataChartHourlyContract, options);

</script>