<section id="invoices-list">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Invoices</h1>
				<p><%= link_to 'Home', root_path %></p>
				<p><%= link_to new_invoice_path, { :class => 'btn btn-success' } do %><i class="fa fa-plus left"></i>New Invoice<% end %></p>
				<% @today = Date.today %>
				<h2><%= @today.year %> Invoices</h2>
				<div class="row">
					<div class="col-sm-9">
						<% if @invoices.blank? %>
						<p class="lead">No invoices.</p>
						<% else %>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Client</th>
									<th>Date</th>
									<th class="text-center hidden-xs">Type</th>
									<th class="text-right hidden-xs">Cost</th>
									<th class="text-center">Paid?</th>
								</tr>
							</thead>
							<tbody>
								<% @invoices.where("strftime('%Y', date) + 0 = ?", @today.year).sort { |a,b| a.date <=> b.date }.each do |invoice| %>
								<tr id="invoicerow<%= invoice.id %>">
									<td><%= link_to Client.find(invoice.clientid) do %><%= Client.find(invoice.clientid).name %><% end %></td>
									<td><%= link_to invoice do %><%= invoice.date %><% end %></td>
									<td class="text-center hidden-xs"><% if invoice.worktype == 'Contract' %>C<% elsif invoice.worktype == 'Hourly' %>H<% elsif invoice.worktype == 'Retainer' %>R<% end %></td>
									<td class="text-right hidden-xs"><% if invoice.cost %>$<%= number_with_precision(invoice.cost, :precision => 2, :delimiter => ',') %><% else %>&mdash;<% end %></td>
									<td class="text-center"><% if invoice.paid == true %><i class="fa fa-check green"></i><% else %><span class="spread red">Not Paid</span><% end %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
						<% end %>
					</div>
					<div class="col-sm-3">
						<p class="lead text-center">Total Owed: <span class="currency red">$<%= number_with_precision(total_invoiced_unpaid, :precision => 2, :delimiter => ',') %></span></p>	
					</div>
				</div>
				<%= render 'layouts/financialdash' %>
			</div>
		</div>
	</div>
</section>

