<% provide(:title, 'Invoices') %>
<div class="page-heading">
	<h1><%= icon('fas', 'dollar-sign', class: 'fa-fw left') %>Invoices</h1>
	<div class="actions">
		<%= link_to new_invoice_path, { :class => 'btn btn-sm btn-success' } do %><%= icon('fas', 'plus', class: 'left') %>New Invoice<% end %>
	</div>
</div>
<div class="panel">
	<h2>Recent &amp; Unpaid Invoices</h2>
	<% if Invoice.notable.blank? %>
	<p>No invoices.</p>
	<% else %>
	<div class="table-wrap">
		<table>
			<thead>
				<tr>
					<th>Client</th>
					<th>Date</th>
					<th>&nbsp;</th>
					<th class="text-right">Cost</th>
					<th class="text-center">Paid?</th>
				</tr>
			</thead>
			<tbody>
				<% Invoice.notable.each do |invoice| %>
				<tr>
					<td><%= link_to Client.find(invoice.client_id) do %><%= Client.find(invoice.client_id).name %><% end %></td>
					<td><%= link_to invoice do %><%= invoice.date %><% end %><% if not invoice.mail_sends.present? %><div class="not-mailed-icon" title="Not Mailed"><%= icon('fas', 'exclamation') %></div><% end %></td>
					<td><%= link_to new_invoice_path(:copied_id => invoice.id), :class => 'copy-invoice-link' do %><%= icon('far', 'copy') %><% end %><% if !invoice.paid? %><%= link_to mark_paid_invoice_path(invoice), title: 'Paid Today?', class: 'paid-today-btn paid-today-link', remote: true do %><%= icon('fas', 'check-square', class: 'right') %><% end %><% end %></td>
					<td class="currency text-right"><% if invoice.cost %><%= number_to_currency(invoice.cost, { :negative_format => '(%n)' }) %><% else %>&mdash;<% end %></td>
					<td class="text-center"><% if invoice.paid == true %><%= icon('fas', 'check', class: 'green') %><% else %><span class="spread red">Not Paid</span><% end %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
	<%= render 'layouts/financial-dash' %>
</div>
