<% thisClient = Client.find(@invoice.clientid) %>
<% thisProject = Project.find(@invoice.projectid) %>

<header class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<%= wicked_pdf_image_tag company_logo_url %>
				<% if !thisClient.logo.blank? %>
				<div class="pull-right"><%= wicked_pdf_image_tag thisClient.logo.url(:medium) %></div>
				<% end %>
			</div>
		</div>
	</div>
</header>

<section id="invoice-show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div>
					<div class="pull-right text-right">
						<p>Attention: <%= thisClient.contact %><br><%= thisClient.name %></p>
					</div>
					<h1>Invoice</h1>
					<p><%= @invoice.date.to_formatted_s(:long) %></p>
				</div>
				<div class="clearfix"></div>
				<% if @invoice.paid == false %>
				<p><strong>Status:</strong> <span class="spread red">Not Paid</span></p>
				<p>This payment can be made to:</p>
				<p><%= company_pay_to %><br><%= company_street %><br><%= company_city %>, <%= company_state_abbrv %> <%= company_zipcode %></p>
				<% else %>
				<p><strong>Status:</strong> <span class="spread green">Paid</span> on <%= @invoice.paiddate.to_formatted_s(:long) %></p>
				<p><strong>Payment Type:</strong> <%= @invoice.paymenttype %></p>
				<% end %>
				<hr>
				<p><%= @invoice.description %> Find below a cost-breakdown for the recent work completed. Please make payment at your earliest convenience, and do not hesitate to contact me with any questions.</p>
				<p class="indent">Thank you,<br><%= company_pay_to %><br><%= company_full_name %><br><%= company_email %><br><%= company_phone %></p>
				<hr>
				<table class="table table-condensed">
		      <thead>
		        <tr>
		          <th>Description</th>
		          <th class="text-center">Hours</th>
		          <th class="text-center">Rate / Hour ($)</th>
		          <th class="text-center">Cost</th>
		        </tr>
		      </thead>
		      <tbody>
		      	<% @invoice.lines.each do |line| %>
			      <tr>
						  <td><%= line.description %></td>
						  <% if @invoice.worktype == 'Hourly' %>
						  <td class="text-center"><%= line.hours %></td>
						  <td class="text-center"><%= number_with_precision(line.rate, :precision => 2) %></td>
						  <% else %>
						  <td class="text-center">&mdash;</td>
						  <td class="text-center">&mdash;</td>
						  <% end %>
						  <td><div class="pull-right"><%= number_with_precision(line.total, :precision => 2) %></div>$</td>
						</tr>
						<% end %>
			      <tr>
			        <td class="text-right" colspan="3"><strong>Total</strong>&nbsp;&nbsp;</td>
			        <td><strong><div class="pull-right"><%= number_with_precision(@invoice.lines.sum('total'), :precision => 2) %></div>$</strong></td>
			      </tr>
			    </tbody>
			  </table>
			</div>
		</div>
	</div>
</section>