<header class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="sdc-logo-text"><strong><%= company[:full_name] %></strong></div>
			</div>
		</div>
	</div>
</header>

<section id="invoice-show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div>
					<div class="pull-right text-right">
						<p>Attention: <%= @invoice.client.contact %><% if @invoice.client.name.present? and @invoice.client.name != @invoice.client.contact %><br><%= @invoice.client.name %><% end %></p>
						<% if @invoice.client.address1.present? %>
						<p>
							<%= @invoice.client.address1 %>
							<% if @invoice.client.address2.present? %>
							<br><%= @invoice.client.address2 %>
							<% end %>
							<br><%= @invoice.client.city %><% if @invoice.client.state.present? %>, <%= @invoice.client.state %><% end %> <%= @invoice.client.zipcode %>
							<% if @invoice.client.intinfo.present? %>
							<br><%= @invoice.client.intinfo %>
							<% end %>
						<% end %>
					</div>
					<h1>Invoice</h1>
					<p><%= @invoice.date.to_formatted_s(:long) %></p>
					<p><strong>Invoice ID:</strong> <%= @invoice.display_id %></p>
					<% if @invoice.paid == true %>
					<p><strong>Status:</strong> <span class="spread green">Paid</span> on <%= @invoice.paiddate.to_formatted_s(:long) %></p>
					<p><strong>Payment Method:</strong> <%= @invoice.paymenttype %></p>
					<% else %>
					<p><strong>Status:</strong> <span class="spread red">Not Paid</span></p>
					<p>This payment can be made out to '<%= company[:pay_to] %>' and sent to &nbsp;<%= mail_to company[:email] %> or mailed to:</p>
					<p><%= company[:pay_to] %><br><%= company[:address][:street] %><br><%= company[:address][:city] %>, <%= company[:address][:state_abbrv] %> <%= company[:address][:zipcode] %></p>
					<p><strong>PLEASE NOTE: Our mailing address has recently changed.</strong></p>
					<% end %>
				</div>
				<div class="clearfix"></div>
				<hr>
				<p><%= @invoice.description %><% if @invoice.paid != true %>  <%= invoice_description_suffix_pleasepay %><% end %></p>
				<p class="indent">Thank you,<br><%= company[:operator_name] %><br><%= company[:full_name] %><br><%= company[:email] %><br><%= company[:phone] %></p>
				<hr>
				<% if @invoice.lines.present? %>
				<table class="table table-condensed">
		      <thead>
		        <tr>
		          <th>Description</th>
		          <th class="text-center">Hours</th>
		          <th class="text-center">Rate ($) per Hour</th>
		          <th class="text-center">Cost</th>
		        </tr>
		      </thead>
		      <tbody>
		      	<% @invoice.lines.each do |line| %>
			      <tr>
						  <td><%= line.description %></td>
						  <% if line.hours.present? %>
						  <td class="text-center"><%= line.hours %></td>
						  <td class="text-center"><%= number_to_currency(line.rate, { :unit => ''}) %></td>
						  <% else %>
						  <td class="text-center">&mdash;</td>
						  <td class="text-center">&mdash;</td>
						  <% end %>
						  <td><div class="pull-right"><%= number_to_currency(line.total, { :unit => '', :negative_format => '(%n)' }) %></div>$</td>
						</tr>
						<% end %>

			    </tbody>
					<tfoot>
						<tr>
			        <td class="text-right" colspan="3"><strong>Total</strong>&nbsp;&nbsp;</td>
			        <td><strong><div class="pull-right"><%= number_to_currency(@invoice.lines.sum('total'), { :unit => '', :negative_format => '(%n)' }) %></div>$</strong></td>
			      </tr>
					</tfoot>
			  </table>
			  <% end %>
			</div>
		</div>
	</div>
</section>
