<% thisClient = Client.find(@invoice.clientid) %>
<% thisProject = Project.find(@invoice.projectid) %>

<header class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<%= wicked_pdf_image_tag company_logo_url %>
				<% if !thisClient.logo.blank? %>
				<div class="pull-right"><%= wicked_pdf_image_tag thisClient.logo.url(:medium) %></div>
				<% end %>
			</div>
		</div>
	</div>
</header>

<section id="invoice-show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div>
					<div class="pull-right text-right">
						<p>Attention: <%= thisClient.contact %><br><%= thisClient.name %></p>
						<% if !thisClient.address1.blank? %>
						<p>
							<%= thisClient.address1 %>
							<% if !thisClient.address2.blank? %>
							<br><%= thisClient.address2 %>
							<% end %>
							<br><%= thisClient.city %><% if !thisClient.state.blank? %>, <%= thisClient.state %><% end %> <%= thisClient.zipcode %>
							<% if !thisClient.intinfo.blank? %>
							<br><%= thisClient.intinfo %>
							<% end %>
						<% end %>
					</div>
					<h1>Invoice</h1>
					<p><%= @invoice.date.to_formatted_s(:long) %></p>
					<% if @invoice.paid == true %>
					<p><strong>Status:</strong> <span class="spread green">Paid</span> on <%= @invoice.paiddate.to_formatted_s(:long) %></p>
					<p><strong>Payment Method:</strong> <%= @invoice.paymenttype %></p>
					<% else %>
					<p><strong>Status:</strong> <span class="spread red">Not Paid</span></p>
					<p>This payment can be made out to:</p>
					<p><%= company_pay_to %><br><%= company_street %><br><%= company_city %>, <%= company_state_abbrv %> <%= company_zipcode %></p>
					<% end %>
				</div>
				<div class="clearfix"></div>
				<hr>
				<p><%= @invoice.description %> <%= invoice_description_suffix %></p>
				<p class="indent">Thank you,<br><%= company_pay_to %><br><%= company_full_name %><br><%= company_email %><br><%= company_phone %></p>
				<hr>
				<table class="table table-condensed">
		      <thead>
		        <tr>
		          <th>Description</th>
		          <th class="text-center">Hours</th>
		          <th class="text-center">Rate ($) per Hour</th>
		          <th class="text-center">Cost</th>
		        </tr>
		      </thead>
		      <tbody>
		      	<% @invoice.lines.each do |line| %>
			      <tr>
						  <td><%= line.description %></td>
						  <% if !line.hours.blank? %>
						  <td class="text-center"><%= line.hours %></td>
						  <td class="text-center"><%= number_to_currency(line.rate, { :unit => ''}) %></td>
						  <% else %>
						  <td class="text-center">&mdash;</td>
						  <td class="text-center">&mdash;</td>
						  <% end %>
						  <td><div class="pull-right"><%= number_to_currency(line.total, { :unit => '', :negative_format => '(%n)' }) %></div>$</td>
						</tr>
						<% end %>
			      <tr>
			        <td class="text-right" colspan="3"><strong>Total</strong>&nbsp;&nbsp;</td>
			        <td><strong><div class="pull-right"><%= number_to_currency(@invoice.lines.sum('total'), { :unit => '', :negative_format => '(%n)' }) %></div>$</strong></td>
			      </tr>
			    </tbody>
			  </table>
			</div>
		</div>
	</div>
</section>