<% provide(:title, 'Clients') %>
<div class="page-heading">
	<h1><%= icon('fas', 'user', class: 'fa-fw left') %><% if params[:inactive] == 'true' %>Inactive <% end %>Clients</h1>
	<div class="actions">
		<%= link_to new_client_path, { :class => 'btn btn-sm btn-success' } do %><%= icon('fas', 'plus', class: 'left') %>New Client<% end %>
	</div>
</div>
<div class="filters">
	<% if params[:inactive] == 'true' %>
	<%= link_to 'Active Clients', clients_path %>
	<% else %>
	<%= link_to 'Inactive Clients', clients_path(:inactive => 'true') %>
	<% end %>
</div>
<div class="panel">
	<% if @clients.blank? %>
	<p>No clients.</p>
	<% else %>
	<div class="table-wrap">
		<table>
			<thead>
				<tr>
					<th>Client</th>
					<th>&nbsp;</th>
					<th>Contact</th>
					<th>Hourly</th>
					<th class="text-right">Unpaid</th>
					<th class="text-right">Billed</th>
				</tr>
			</thead>
			<tbody>
				<% @clients.each do |client| %>
				<tr id="clientrow<%= client.id %>">
					<td><%= link_to client do %><%= client.name %><% end %></td>
					<td><%= link_to new_invoice_path(:client_id => client.id), :class => 'new-invoice-link' do %><%= icon('fas', 'dollar-sign', class: 'green') %><% end %></td>
					<td><%= client.contact %></td>
					<td><% if client.currentrate %><%= number_to_currency(client.currentrate) %><% else %>&mdash;<% end %></td>
					<td class="currency text-right"><% if client.unpaidTotal > 0 %><span class="spread red"><%= number_to_currency(client.unpaidTotal, { :negative_format => '(%n)' }) %></span><% else %>&mdash;<% end %></td>
					<td class="currency text-right"><%= number_to_currency(client.invoiceTotal, { :negative_format => '(%n)' }) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
</div>
