<% provide(:title, 'Clients') %>
<div class="page-heading">
	<h1><%= icon('fas', 'user', class: 'fa-fw left') %><% if params[:inactive] == 'true' %>Inactive <% end %>Clients</h1>
	<div class="actions">
		<%= link_to new_client_path, { :class => 'btn btn-sm btn-success' } do %><%= icon('fas', 'plus', class: 'left') %>New Client<% end %>
	</div>
</div>
<div class="filters">
	<% if params[:inactive] == 'true' %>
	<%= link_to 'Active Clients', clients_path %>
	<% else %>
	<%= link_to 'Inactive Clients', clients_path(:inactive => 'true') %>
	<% end %>
</div>
<div class="panel">
	<% if @clientsAll.blank? %>
	<p>No clients.</p>
	<% else %>
	<div class="table-wrap">
		<table>
			<thead>
				<tr>
					<th>Client</th>
					<th>&nbsp;</th>
					<th>Contact</th>
					<th>Hourly</th>
					<th class="text-right">Unpaid</th>
					<th class="text-right">Billed</th>
				</tr>
			</thead>
			<tbody>
				<% @clientsRecent.each do |client| %>
					<%= render 'row', :client => client %>
				<% end %>
				<tr>
					<td colspan="6"><hr></td>
				<tr>
				<tr>
					<td colspan="6"><strong>All Clients</strong></td>
				<tr>
				<% @clientsAll.each do |client| %>
					<%= render 'row', :client => client %>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
</div>
