<section id="projects-list">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Projects</h1>
				<p><%= link_to 'Home', root_path %></p>
				<p><%= link_to new_project_path, { :class => 'btn btn-success' } do %><i class="fa fa-plus left"></i>New Project<% end %></p>
				<% if @projects.blank? %>
				<p class="lead">No projects.</p>
				<% else %>
				<div class="row">
					<div class="col-sm-6">
						<h3 class="text-center red"><i class="fa fa-refresh left"></i>In-Progress</h3>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Client</th>
									<th>Project</th>
								</tr>
							</thead>
							<tbody>
								<% @projects.where.not(:completed => true).sort { |b,a| a.startdate <=> b.startdate }.each do |project| %>
								<tr id="projectrow<%= project.id %>">
									<td><%= link_to Client.find(project.clientid) do %><%= Client.find(project.clientid).name %><% end %></td>
									<td><%= link_to project do %><%= project.name %><% end %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<div class="col-sm-6">
						<h3 class="text-center green"><i class="fa fa-check left"></i>Completed</h3>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Client</th>
									<th>Project</th>
								</tr>
							</thead>
							<tbody>
								<% @projects.where(:completed => true).sort { |b,a| a.startdate <=> b.startdate }.each do |project| %>
								<tr id="projectrow<%= project.id %>">
									<td><%= link_to Client.find(project.clientid) do %><%= Client.find(project.clientid).name %><% end %></td>
									<td><%= link_to project do %><%= project.name %><% end %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>