<% provide(:title, "Project ##{@project.id} | ") %>
<%
	thisClient = Client.find(@project.client_id)
	projectInvoiceTotal = 0
%>
<section id="project-show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<% if !thisClient.logo.blank? %>
				<%= image_tag(thisClient.logo.url(:medium), class: 'pull-right hidden-xs') %>
				<% end %>
				<h1><%= @project.name %></h1>
				<p class="doicons">
					<%= link_to edit_project_path(@project), title: 'Edit' do %><i class="fa fa-fw fa-2x fa-pencil-square-o text-warning"></i><% end %>
					<%= link_to project_path(@project), title: 'Delete', method: :delete, data: { confirm: "Are you sure you would like to delete Project ##{@project.id}?" } do %><i class="fa fa-fw fa-2x fa-trash-o text-danger"></i><% end %>
				</p>
					<strong>Project ID:</strong>
					<%= @project.id %>
				</p>
				<p>
					<strong>Client:</strong>
					<%= link_to thisClient do %><%= thisClient.name %><% end %>
				</p>
				<p>
					<strong>Completed?:</strong>
					<% if @project.completed == true %><i class="fa fa-check green"></i><% else %><span class="spread red">Not Completed</span><% end %>
				</p>
				<% if !@project.startdate.blank? %>
				<p>
					<strong>Start Date:</strong>
					<%= @project.startdate %>
				</p>
				<% end %>
				<% if !@project.enddate.blank? %>
				<p>
					<strong>End Date:</strong>
					<%= @project.enddate %>
				</p>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3>Invoices</h3>
				<% if @invoices.blank? %>
				<p class="lead">No invoices.</p>
				<% else %>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Date</th>
							<th class="text-right">Cost</th>
							<th class="text-center">Paid?</th>
						</tr>
					</thead>
					<tbody>
						<% @invoices.each do |invoice| %>
						<tr id="invoicerow<%= invoice.id %>">
							<td><%= link_to invoice do %><%= invoice.date %><% end %></td>
							<td class="text-right"><% if invoice.cost %><%= number_to_currency(invoice.cost, { :negative_format => '(%n)' }) %><% projectInvoiceTotal += invoice.cost else %>&mdash;<% end %></td>
							<td class="text-center"><% if invoice.paid == true %><i class="fa fa-check green"></i><% else %><span class="spread red">Not Paid</span><% end %></td>
						</tr>
						<% end %>
						<tr>
							<td class="text-right"><strong>Total</strong></td>
							<td class="text-right"><strong><%= number_to_currency(projectInvoiceTotal, { :negative_format => '(%n)' }) %></strong></td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p><%= link_to 'Back', projects_path %></p>
			</div>
		</div>
	</div>
</section>