<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
	<% end %>
	<div class="form-section panel">
		<div class="form-description">
			Basic Info
		</div>
		<div class="form-elements">
			<div class="form-element">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
			<div class="form-element">
				<%= f.label :category, 'Category' %>
				<%= select(:vendor, 'category', vendor_categories, {}) %>
			</div>
			<div class="form-element full">
				<%= f.label :notes %>
				<%= f.text_area :notes %>
			</div>
		</div>
	</div>
  <button type="submit" class="btn btn-success"><%= icon('far', 'save', class: 'left') %>Save</button>
<% end %>
