<div class="form-login-wrap">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<h2>Sign In</h2>
		<div class="form-login panel">
			<div class="form-element full">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true %>
			</div>
			<div class="form-element full">
				<%= f.label :password %>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>
			<div class="form-element full">
				<%= f.label :otp_attempt, '2FA Code' %>
				<%= f.text_field :otp_attempt, autocomplete: 'one-time-code', inputmode: 'numeric' %>
			</div>
			<div class="form-element form-element-radio-wrap full">
				<label for="user_remember_me"><%= f.check_box :remember_me, { checked: true } %> Remember Me</label>
			</div>
		</div>
		<button type="submit" class="btn btn-block btn-success">Sign In</button>
	<% end %>
</div>
