<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="form-group">
				<%= f.label :startdate, 'Start Date' %>
				<div class="input-group">
					<span class="input-group-addon"><%= icon('fas', 'calendar-alt') %></span>
					<%= f.text_field :startdate, :placeholder => 'YYYY-MM-DD', class: 'form-control datepicker' %>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="form-group">
				<%= f.label :enddate, 'End Date' %>
				<div class="input-group">
					<span class="input-group-addon"><%= icon('fas', 'calendar-alt') %></span>
					<%= f.text_field :enddate, :placeholder => 'YYYY-MM-DD', class: 'form-control datepicker' %>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="form-group">
				<%= f.label :timeperiod, 'Time Period' %>
				<%= select(:goal, 'timeperiod', ['Month', 'Year'], { :include_blank => 'None' }, { :class => 'form-control' }) %>
			</div>
		</div>
	  <div class="col-lg-3 col-sm-6">
			<div class="form-group">
				<%= f.label :amount %>
				<div class="input-group">
					<span class="input-group-addon"><%= icon('fas', 'dollar-sign') %></span>
					<%= f.text_field :amount, :placeholder => '0.00', class: 'form-control text-right' %>
				</div>
			</div>
		</div>
  </div>
  <div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="form-group">
				<%= f.label :goaltype, 'Type' %>
				<%= select(:goal, 'goaltype', ['Total', 'Contract', 'Hourly'], {}, { :class => 'form-control' }) %>
			</div>
		</div>
	</div>
  <div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<button type="submit" class="btn btn-success"><%= icon('far', 'save', class: 'left') %>Save</button>
			</div>
		</div>
	</div>
<% end %>
