<% provide(:title, 'Goals | ') %>
<section id="goals-list">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1><% if params[:showall] == 'true' %>All<% else %>Recent<% end %> Goals</h1>
				<p><%= link_to 'Home', root_path %></p>
				<% if params[:showall] == 'true' %>
				<p><%= link_to 'Recent Goals', goals_path %></p>
				<% else %>
				<p><%= link_to 'All Goals', goals_path(:showall => 'true') %></p>
				<% end %>
				<p><%= link_to new_goal_path, { :class => 'btn btn-success' } do %><i class="fa fa-plus left"></i>New Goal<% end %></p>
				<% if @goals.blank? %>
				<p class="lead">No goals.</p>
				<% else %>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Period</th>
									<th>Type</th>
									<th class="text-right">Goal Amount</th>
									<th class="text-right hidden-xs">Actual Amount</th>
									<th class="text-center">Met?</th>
								</tr>
							</thead>
							<tbody>
								<% @goals.each do |goal| %>
								<tr>
									<td><%= link_to goal do %><% if goal.timeperiod == 'Year' %>Year <%= goal.enddate.year %><% elsif goal.timeperiod == 'Month' %><%= goal.enddate.strftime('%B') %>&nbsp;<%= goal.enddate.year %><% end %><% end %></td>
									<td><%= goal.goaltype %></td>
									<td class="text-right"><%= number_to_currency(goal.amount, { :negative_format => '(%n)' }) %></td>
									<td class="text-right hidden-xs"><%= number_to_currency(goal.actualamount, { :negative_format => '(%n)' }) %></td>
									<td class="text-center">
										<% if goal.status == 'Past' %>
											<% if goal.met %>
											<i class="fa fa-check green"></i>
											<% else %>
											<span class="red"><strong>&times;</strong></span>
											<% end %>
										<% elsif goal.status == 'Current' %>
											<% if goal.timeperiod == 'Year' or goal.timeperiod == 'Month' %>
											<%= percentageDisplay(goal.actualProgressAsFraction) %>
											<% end %>
										<% elsif goal.status == 'Future' %>
										&mdash;
										<% end %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
