<% provide(:title, "Goal ##{@goal.id} | ") %>
<%
	@actualAmount = 0
	if @goal.timeperiod == 'Year'
		if @goal.goaltype == 'Total'
			@actualAmount = Invoice.where(:paid => true).where("SELECT extract(YEAR FROM paiddate) = ?", @goal.enddate.year).sum('cost')
		elsif @goal.goaltype == 'Contract'
			@actualAmount = Invoice.where(:paid => true, :worktype => 'Contract').where("SELECT extract(YEAR FROM paiddate) = ?", @goal.enddate.year).sum('cost')
		elsif @goal.goaltype == 'Hourly'
			@actualAmount = Invoice.where(:paid => true, :worktype => 'Hourly').where("SELECT extract(YEAR FROM paiddate) = ?", @goal.enddate.year).sum('cost')
		elsif @goal.goaltype == 'Retainer'
			@actualAmount = Invoice.where(:paid => true, :worktype => 'Retainer').where("SELECT extract(YEAR FROM paiddate) = ?", @goal.enddate.year).sum('cost')
		end
	elsif @goal.timeperiod == 'Month'
		if @goal.goaltype == 'Total'
			@actualAmount = Invoice.where(:paid => true).where("SELECT extract(MONTH FROM paiddate) = ?", @goal.enddate.month).sum('cost')
		elsif @goal.goaltype == 'Contract'
			@actualAmount = Invoice.where(:paid => true, :worktype => 'Contract').where("SELECT extract(MONTH FROM paiddate) = ?", @goal.enddate.month).sum('cost')
		elsif @goal.goaltype == 'Hourly'
			@actualAmount = Invoice.where(:paid => true, :worktype => 'Hourly').where("SELECT extract(MONTH FROM paiddate) = ?", @goal.enddate.month).sum('cost')
		elsif @goal.goaltype == 'Retainer'
			@actualAmount = Invoice.where(:paid => true, :worktype => 'Retainer').where("SELECT extract(MONTH FROM paiddate) = ?", @goal.enddate.month).sum('cost')
		end
	end
%>
<section id="goal-show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Goal #<%= @goal.id %></h1>
				<p class="doicons">
					<%= link_to edit_goal_path(@goal), title: 'Edit' do %><i class="fa fa-fw fa-2x fa-pencil-square-o text-warning"></i><% end %>
					<%= link_to goal_path(@goal), title: 'Delete', method: :delete, data: { confirm: "Are you sure you would like to delete Goal ##{@goal.id}?" } do %><i class="fa fa-fw fa-2x fa-trash-o text-danger"></i><% end %>
				</p>
				<div class="row">
					<div class="col-sm-4">
						<p><strong>Time Period:</strong> <%= @goal.timeperiod %></p>
						<p><strong>Start Date:</strong> <%= @goal.startdate %></p>
						<p><strong>End Date:</strong> <%= @goal.enddate %></p>
						<p><strong>Status:</strong> <%= @goal.status %></p>
					</div>
					<div class="col-sm-4">
						<p><strong>Type:</strong> <%= @goal.goaltype %></p>
						<p><strong>Amount:</strong> <%= number_to_currency(@goal.amount, { :negative_format => '(%n)' }) %></p>
						<% if @goal.status == 'Current' or @goal.status == 'Past' %><p><strong>Actual:</strong> <%= number_to_currency(@actualAmount, { :negative_format => '(%n)' }) %></p><% end %>
					</div>
					<div class="col-sm-4">
						<%
							@progressRaw = @actualAmount / @goal.amount
							@progress = number_to_percentage(@progressRaw * 100, :strip_insignificant_zeros => true, :precision => 2)
						%>
						<% if @goal.status == 'Past' %>
						<p>
							<strong>Met?</strong>
							<% if @goal.met %>
							<i class="fa fa-check green"></i>
							<% else %>
							<span class="red"><strong>&times;</strong></span>
							<% end %>
						</p>
						<% elsif @goal.status == 'Current' %>
						<%
							@fullPeriodDays = (@goal.enddate - @goal.startdate + 1).to_f
							@paceDays = (Date.today - @goal.startdate + 1).to_f
							@paceRaw = @paceDays / @fullPeriodDays
							@pace = number_to_percentage(@paceRaw * 100, :strip_insignificant_zeros => true, :precision => 2)
						%>
						<p><strong>Pace:</strong> <%=  @pace %></p>
						<p><strong>Progress:</strong> <%= @progress %></p>
						<% elsif @goal.status == 'Future' %>
						<p>
							<strong>Progress:</strong> &mdash;
						</p>
						<% end %>
						<% if @goal.status == 'Current' %>
							<%
								if @progressRaw > @paceRaw
									@firstLengthRaw = @paceRaw
									@firstLength = @pace
									@secondLength = number_to_percentage((@progressRaw - @paceRaw) * 100, :strip_insignificant_zeros => true, :precision => 2)
								else
									@firstLengthRaw = @progressRaw
									@firstLength = @progress
									@secondLength = number_to_percentage((@paceRaw - @firstLengthRaw) * 100, :strip_insignificant_zeros => true, :precision => 2)
								end
							%>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @firstLength %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @firstLength %>"></div>
								<div class="progress-bar progress-bar-<% if @progressRaw > @paceRaw %>success<% else %>danger<% end %>" role="progressbar" aria-valuenow="<%= @secondLength %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @secondLength %>"></div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="row hidden-print">
			<div class="col-sm-12">
				<p><%= link_to 'Back', goals_path %></p>
			</div>
		</div>
	</div>
</section>
