<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
	<% end %>
	<div class="form-section panel">
		<div class="form-description">
			Basic Info
		</div>
		<div class="form-elements">
			<div class="form-element full">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
			<div class="form-element">
				<%= f.label :cost %>
        <%= f.number_field :cost, :step => '0.01' %>
			</div>
			<div class="form-element">
				<%= f.label :date, 'Date' %>
				<%= f.date_field :date, :required => true, :placeholder => 'YYYY-MM-DD', :pattern => '\d{4}-\d{2}-\d{2}', :value => @expense.date ? @expense.date : Time.now.strftime("%Y-%m-%d") %>
			</div>
			<div class="form-element">
				<%= f.label :vendor_id, 'Vendor' %>
        <%= collection_select(:expense, 'vendor_id', Vendor.all, :id, :name, {}) %>
			</div>
			<div class="form-element">
				<%= f.label :account %>
				<%= select(:expense, 'account', expense_account_types, {}) %>
			</div>
			<div class="form-element full">
				<%= f.label :notes %>
				<%= f.text_area :notes %>
			</div>
		</div>
  </div>
	<% if @expense.new_record? %>
	<div class="form-section panel">
		<div class="form-description">
			Frequency
		</div>
		<div class="form-elements">
			<div class="form-element form-element-radio-wrap full">
				<label for="expense_type_one-time"><%= radio_button_tag 'expense_type', 'one-time', true %> One-Time</label>
				<label for="expense_type_monthly"><%= radio_button_tag 'expense_type', 'monthly' %> Monthly</label>
			</div>
			<div class="form-element full expense-monthly-form-element" style="display: none;">
				<h2>Additional Months</h2>
				<p>Exclude the current month (the above date is counted).</p>
				<% 1.upto(12) do |month| %>
				<label><%= check_box_tag "additionalmonths-#{month}", month, Time.now.month < month ? true : false %> <%= Date::MONTHNAMES[month] %></label>
				<% end %>
			</div>
		</div>
	</div>
  <% end %>
  <button type="submit" class="btn btn-success"><%= icon('far', 'save', class: 'left') %>Save</button>
<% end %>
