<%= form_for(@year) do |f| %>
	<% if @year.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@year.errors.count, "error") %> prohibited this year from being saved:</h2>
		<ul>
			<% @year.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="form-section panel">
		<div class="form-description">
			Basic Info
		</div>
		<div class="form-elements">
			<div class="form-element">
				<%= f.label :year %>
				<%= f.text_field :year %>
			</div>
			<div class="form-element">
				<%= f.label :taxrate do %>Tax Rate <small>(Ex. 0.XX)</small><% end %>
				<%= f.text_field :taxrate %>
			</div>
		</div>
	</div>
	<div class="form-section panel">
		<div class="form-description">
			Goals
		</div>
		<div class="form-elements">
			<div class="form-element full">
				<%= f.label :goal_year, 'Year' %>
				<%= f.number_field :goal_year, value: @year.goal_year.to_i %>
			</div>
			<% 12.times do |month| %>
			<div class="form-element">
				<label for="goals_month_<%= month.to_s %>"><%= Date::MONTHNAMES[month + 1] %></label>
				<%= number_field_tag('goals_months[]', @year.goals_months[month].to_i, { :id => 'goals_month_' + month.to_s, :min => 0, :step => 1 }) %>
			</div>
			<% end %>
		</div>
	</div>
	<button type="submit" class="btn btn-success"><%= icon('far', 'save', class: 'left') %>Save</button>
<% end %>
