<h2>Income</h2>
<div class="year-income">
	<p><%= link_to 'Download Income CSV', income_year_path(@year, format: 'csv') %></p>
	<div class="year-income-quarters">
		<%= render partial: 'quarter', collection: [1, 2, 3, 4], as: :quarterNumber %>
	</div>
	<div class="chart-wrap"><%= column_chart chart_year_by_invoice_month_with_goals_path(@year.id), id: 'year-income-chart', colors: [Chartkick.options[:colors][0], Chartkick.options[:colors][2]], days_in_year: @year.days_in_year, days_elapsed: @year.days_elapsed, yearly_goal: @year.goal_year %></div>
	<h3>Unpaid Invoices</h3>
	<% if @year.invoices.unpaid.blank? %>
	<p>No unpaid invoices issued in <%= @year.year %>.</p>
	<% else %>
	<div class="table-wrap">
		<table>
			<thead>
				<tr>
					<th>Client</th>
					<th>Issue Date</th>
					<th class="text-center">Days Since Issued</th>
					<th class="text-right">Cost</th>
				</tr>
			</thead>
			<tbody>
				<% @year.invoices.unpaid.each do |invoice| %>
				<tr>
					<td><%= link_to Client.find(invoice.client_id) do %><%= Client.find(invoice.client_id).name %><% end %></td>
					<td><%= link_to invoice do %><%= invoice.date %><% end %></td>
					<td class="text-center"><%= (Date.today - invoice.date).to_i %></td>
					<td class="currency text-right"><% if invoice.cost %><%= number_to_currency(invoice.cost, { :negative_format => '(%n)' }) %><% else %>&mdash;<% end %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
	<% if Invoice.paidByYear(@year.year).blank? %>
	<p>No invoices were paid in <%= @year.year %>.</p>
	<% else %>
	<h3>Paid Invoices By Client</h3>
	<div class="table-wrap">
		<table>
			<thead>
				<tr>
					<th>Client</th>
					<th class="text-center">Federal EIN</th>
					<th class="text-center"># of Invoices</th>
					<th class="text-right">Cost</th>
				</tr>
			</thead>
			<tbody>
				<% @year.paidClients.each do |client| %>
				<tr>
					<td><%= link_to client.name, client %></td>
					<td class="text-center"><% if client.federalein %><%= client.federalein %><% else %>&mdash;<% end %></td>
					<td class="text-center"><%= client.yearPaidInvoices(@year.year).count %></td>
					<td class="currency text-right"><%= number_to_currency(client.yearPaidInvoices(@year.year).sum(:cost)) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<h3>All Paid Invoices</h3>
	<div class="table-wrap">
		<table>
			<thead>
				<tr>
					<th>Client</th>
					<th>Issue Date</th>
					<th>Paid Date</th>
					<th class="text-right">Cost</th>
					<th class="text-center">Paid?</th>
				</tr>
			</thead>
			<tbody>
				<% Invoice.paidByYear(@year.year).each do |invoice| %>
				<tr>
					<td><%= link_to Client.find(invoice.client_id) do %><%= Client.find(invoice.client_id).name %><% end %></td>
					<td><%= link_to invoice do %><%= invoice.date %><% end %></td>
					<td><%= invoice.paiddate %></td>
					<td class="currency text-right"><% if invoice.hasDiscount %>^<% end %><% if invoice.cost %><%= number_to_currency(invoice.cost, { :negative_format => '(%n)' }) %><% else %>&mdash;<% end %></td>
					<td class="text-center"><% if invoice.paid == true %><%= icon('fas', 'check', class: 'green') %><% else %><span class="spread red">Not Paid</span><% end %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
</div>
