<div class="year-overview">
	<div class="year-overview-stats">
		<p>Total Revenue: <span class="currency green"><%= number_to_currency(@year.incomeTotal, { :negative_format => '(%n)' }) %></span></p>
		<p>Total Expenses (to-date): <span class="currency red"><%= number_to_currency(@year.expensesTotal, { :negative_format => '(%n)' }) %></span></p>
		<p>Net Income (before taxes): <span class="currency"><%= number_to_currency(@year.netIncome, { :negative_format => '(%n)' }) %></span></p>
		<hr>
		<% if @year.year >= Date.today.year %>
		<p>Current Run Rate: <span class="currency"><%= number_to_currency(@year.run_rate, { :negative_format => '(%n)' }) %></span></p>
		<% end %>
		<p>Tax Rate*: <span class="currency"><%= number_to_percentage(@year.taxrate * 100, :precision => 2) %></span></p>
		<p>Tax Estimate*: <span class="currency red"><%= number_to_currency(@year.taxOwedTotal, { :negative_format => '(%n)' }) %></span></p>
		<p>Discounts Given^: <span class="currency"><%= number_to_currency(@year.invoiceDiscountsTotal, { :negative_format => '(%n)' }) %></span></p>
		<p><small>*Tax rate and estimates are conservative and independent of expenses and discounts.</small></p>
	</div>
	<div class="year-overview-chart">
		<div class="chart-wrap overview-chart-wrap"><%= column_chart chart_year_all_data_path(@year.id), id: 'year-all-chart', days_in_year: @year.days_in_year, days_elapsed: @year.days_elapsed, yearly_goal: @year.goal_year %></div>
	</div>
</div>
