<% provide(:title, 'Years') %>
<h1><%= icon('far', 'calendar-alt', class: 'fa-fw left') %>Years</h1>
<p><%= link_to new_year_path, { :class => 'btn btn-success' } do %><%= icon('fas', 'plus', class: 'left') %>New Year<% end %></p>
<div class="panel">
	<% if @years.blank? %>
	<p class="lead">No years.</p>
	<% else %>
	<ul>
		<% @years.each do |year| %>
		<li><%= link_to year do %><%= year.year %><% end %></li>
		<% end %>
	</ul>
	<% end%>
</div>
