<% provide(:title, "#{@year.year} Summary") %>
<div class="page-heading">
	<h1><%= icon('far', 'calendar-alt', class: 'fa-fw left') %><%= @year.year %> Summary</h1>
	<div class="actions">
		<%= link_to edit_year_path(@year), title: 'Edit' do %><%= icon_action_edit %><% end %>
	</div>
</div>
<div class="panel">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
		<li role="presentation"><a href="#goals" role="tab" data-toggle="tab">Goals</a></li>
		<li role="presentation"><a href="#income" role="tab" data-toggle="tab">Income</a></li>
		<li role="presentation"><a href="#expenses" role="tab" data-toggle="tab">Expenses</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="overview">
			<%= render 'tab-overview' %>
		</div>
		<div role="tabpanel" class="tab-pane" id="goals">
			<%= render 'tab-goals' %>
		</div>
		<div role="tabpanel" class="tab-pane" id="income">
			<%= render 'tab-income' %>
		</div>
		<div role="tabpanel" class="tab-pane" id="expenses">
			<%= render 'tab-expenses' %>
		</div>
	</div>
</div>
