<% provide(:title, "#{@year.year} Summary") %>
<div class="page-heading">
	<h1><%= icon('far', 'calendar-alt', class: 'fa-fw left') %><%= @year.year %> Summary</h1>
	<div class="actions">
		<%= link_to edit_year_path(@year), title: 'Edit' do %><%= icon_action_edit %><% end %>
	</div>
</div>
<div class="filters">
	<a href="#overview">Overview</a>  &bull; <a href="#goals">Goals</a> &bull; <a href="#income">Income</a> &bull; <a href="#expenses">Expenses</a>
</div>
<div id="overview" class="panel">
	<%= render 'overview' %>
</div>
<div id="goals" class="panel">
	<%= render 'goals' %>
</div>
<div id="income" class="panel">
	<%= render 'income' %>
</div>
<div id="expenses" class="panel">
	<%= render 'expenses' %>
</div>
