<% provide(:title, "Year #{@year.year} | ") %>
<section id="year<%= @year.year %>" class="yearsummary">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Year <%= @year.year %> Summary</h1>
				<p><%= link_to "Download CSV", year_path(@year, format: "csv") %></p>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<p class="lead">Total Income: <span class="pull-right currency green"><%= number_to_currency(@incomeYear, { :negative_format => '(%n)' }) %></span></p>
				<p class="lead">Tax Rate*: <span class="pull-right currency"><%= number_to_percentage(@year.taxrate * 100, :precision => 2) %></span></p>
				<p class="lead">Tax Estimate*: <span class="pull-right currency red"><%= number_to_currency(@incomeYear * @year.taxrate, { :negative_format => '(%n)' }) %></span></p>
				<p><small>*Tax rate and estimates are conservative and independent of expenses.</small></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<h3 class="text-center">Quarter 1</h3>
				<h4 class="text-center">January - March</h4>
				<p class="lead">Income: <span class="pull-right currency green"><%= number_to_currency(@incomeQ1, { :negative_format => '(%n)' }) %></span></p>
				<p class="lead">Tax Estimate: <span class="pull-right currency red"><%= number_to_currency(@incomeQ1 * @year.taxrate, { :negative_format => '(%n)' }) %></span></p>
				<hr class="hidden-lg hidden-md">
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 class="text-center">Quarter 2</h3>
				<h4 class="text-center">April - June</h4>
				<p class="lead">Income: <span class="pull-right currency green"><%= number_to_currency(@incomeQ2, { :negative_format => '(%n)' }) %></span></p>
				<p class="lead">Tax Estimate: <span class="pull-right currency red"><%= number_to_currency(@incomeQ2 * @year.taxrate, { :negative_format => '(%n)' }) %></span></p>
				<hr class="hidden-lg hidden-md">
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 class="text-center">Quarter 3</h3>
				<h4 class="text-center">July - September</h4>
				<p class="lead">Income: <span class="pull-right currency green"><%= number_to_currency(@incomeQ3, { :negative_format => '(%n)' }) %></span></p>
				<p class="lead">Tax Estimate: <span class="pull-right currency red"><%= number_to_currency(@incomeQ3 * @year.taxrate, { :negative_format => '(%n)' }) %></span></p>
				<hr class="hidden-lg hidden-md">
			</div>
			<div class="col-lg-3 col-md-6">
				<h3 class="text-center">Quarter 4</h3>
				<h4 class="text-center">October - December</h4>
				<p class="lead">Income: <span class="pull-right currency green"><%= number_to_currency(@incomeQ4, { :negative_format => '(%n)' }) %></span></p>
				<p class="lead">Tax Estimate: <span class="pull-right currency red"><%= number_to_currency(@incomeQ4 * @year.taxrate, { :negative_format => '(%n)' }) %></span></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<canvas id="monthlyRevenueChart" class="chart"></canvas>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3>Unpaid Invoices</h3>
				<% if @invoicesUnpaid.blank? %>
				<p class="lead">No unpaid invoices issued in <%= @year.year %>.</p>
				<% else %>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Client</th>
							<th>Issue Date</th>
							<th class="text-center">Days Since Issued</th>
							<th class="text-center hidden-xs">Type</th>
							<th class="text-right">Cost</th>
						</tr>
					</thead>
					<tbody>
						<% @invoicesUnpaid.each do |invoice| %>
						<tr id="invoicerow<%= invoice.id %>">
							<td><%= link_to Client.find(invoice.client_id) do %><%= Client.find(invoice.client_id).name %><% end %></td>
							<td><%= link_to invoice do %><%= invoice.date %><% end %></td>
							<td class="text-center"><%= (Date.today - invoice.date).to_i %></td>
							<td class="text-center hidden-xs"><%= invoice.worktype %></td>
							<td class="text-right"><% if invoice.cost %><%= number_to_currency(invoice.cost, { :negative_format => '(%n)' }) %><% else %>&mdash;<% end %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<% if @invoicesPaid.blank? %>
				<p class="lead">No invoices.</p>
				<% else %>
				<h3>Paid Invoices By Client</h3>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Client</th>
							<th class="text-center"># of Invoices</th>
							<th class="text-right">Cost</th>
						</tr>
					</thead>
					<tbody>
						<% @paidClients.each do |client| %>
						<tr>
							<td><%= link_to client.name, client %></td>
							<td class="text-center"><%= client.yearPaidInvoices(@year.year).count %></td>
							<td class="text-right"><%= number_to_currency(client.yearPaidInvoices(@year.year).sum(:cost)) %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<h3>All Paid Invoices</h3>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Client</th>
							<th>Issue Date</th>
							<th>Paid Date</th>
							<th class="text-center hidden-xs">Type</th>
							<th class="text-right">Cost</th>
							<th class="text-center">Paid?</th>
						</tr>
					</thead>
					<tbody>
						<% @invoicesPaid.each do |invoice| %>
						<tr id="invoicerow<%= invoice.id %>">
							<td><%= link_to Client.find(invoice.client_id) do %><%= Client.find(invoice.client_id).name %><% end %></td>
							<td><%= link_to invoice do %><%= invoice.date %><% end %></td>
							<td><%= invoice.paiddate %></td>
							<td class="text-center hidden-xs"><%= invoice.worktype %></td>
							<td class="text-right"><% if invoice.cost %><%= number_to_currency(invoice.cost, { :negative_format => '(%n)' }) %><% else %>&mdash;<% end %></td>
							<td class="text-center"><% if invoice.paid == true %><i class="fa fa-check green"></i><% else %><span class="spread red">Not Paid</span><% end %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<% end %>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
jQuery(document).ready(function($) {
	var data = {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
		datasets: [
			{
				fillColor: 'rgba(92,184,92,0.5)',
				strokeColor: 'rgba(92,184,92,0.5)',
				pointColor: 'rgba(92,184,92,0.8)',
				data: [<% (1..12).each do |month| %><%= Invoice.paidByMonth(Date.new(@year.year, month, 1)).sum('cost') %>,<% end %>]
			}
		]
	};
	var ctx = document.getElementById('monthlyRevenueChart').getContext('2d');
	var monthlyRevenueChart = new Chart(ctx).Bar(data, {});
});
</script>
