<div class="row">
	<div class="col-sm-12">
		<p class="lead text-center">Total Receivable: <span class="currency red"><%= number_to_currency(total_invoiced_unpaid, { :negative_format => '(%n)' }) %></span></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-lg-offset-0 col-md-8 col-md-offset-2">
		<h3 class="text-center"><%= today.strftime('%B') %></h3>
		<span class="lead">Paid: <span class="pull-right currency green"><%= number_to_currency(Invoice.paidByMonth(today.year, today.month).sum('cost'), { :negative_format => '(%n)' }) %></span></span>
		<hr class="halfbottom">
		<span class="lead">
			Contract: <span class="pull-right currency text-info"><%= number_to_currency(Invoice.paidByMonth(today.year, today.month).contract.sum('cost'), { :negative_format => '(%n)' }) %></span><br>
			Hourly: <span class="pull-right currency text-warning"><%= number_to_currency(Invoice.paidByMonth(today.year, today.month).hourly.sum('cost'), { :negative_format => '(%n)' }) %></span>
		</span>
	</div>
	<div class="col-lg-4 col-lg-offset-1 col-md-8 col-md-offset-2">
		<h3 class="text-center">Active Goals</h3>
		<% Goal.where('startdate <= ? AND enddate >=  ?', today, today).order('enddate DESC, amount DESC').each_with_index do |goal, index| %>
			<% if index == 0 %>
			<span class="lead"><%= link_to goal do %><%= goal.timeperiod %> (<%= goal.goaltype %>):<% end %><span class="pull-right currency"><%= number_to_currency(goal.amount, { :negative_format => '(%n)' }) %></span></span>
			<hr class="halfbottom">
			<% else %>
			<span class="lead"><%= link_to goal do %><%= goal.timeperiod %> (<%= goal.goaltype %>):<% end %><span class="pull-right currency"><%= number_to_currency(goal.amount, { :negative_format => '(%n)' }) %></span></span><br>
			<% end %>
		<% end %>
	</div>
	<div class="col-lg-3 col-lg-offset-1 col-md-8 col-md-offset-2">
		<h3 class="text-center"><%= today.year %> YTD</h3>
		<span class="lead">Paid: <span class="pull-right currency green"><%= number_to_currency(Invoice.paidByYear(today.year).sum('cost'), { :negative_format => '(%n)' }) %></span></span>
		<hr class="halfbottom">
		<span class="lead">
			Contract: <span class="pull-right currency text-info"><%= number_to_currency(Invoice.paidByYear(today.year).contract.sum('cost'), { :negative_format => '(%n)' }) %></span><br>
			Hourly: <span class="pull-right currency text-warning"><%= number_to_currency(Invoice.paidByYear(today.year).hourly.sum('cost'), { :negative_format => '(%n)' }) %></span>
		</span>
	</div>
</div>
<div class="row">
	<div class="nopad-side col-sm-8 col-sm-offset-2">
		<div class="chart-wrap"><%= column_chart chart_trailing_x_months_path(5) %></div>
	</div>
</div>
