<div class="row">
	<div class="col-sm-12">
		<p class="lead text-center">Total Receivable: <span class="currency red"><%= number_to_currency(Invoice.unpaid.sum('cost'), { :negative_format => '(%n)' }) %></span> <small>(<%= pluralize(Invoice.unpaid.count, 'invoice') %>)</small></p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-goals">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th class="text-right">Revenue</th>
					<th class="text-right">Goal</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= link_to Date.today.year, year_path(Year.where(year: Date.today.year).first.year) %></td>
					<td class="text-right"><span class="pull-right currency green"><%= number_to_currency(Invoice.paidByYear(today.year).sum('cost'), { :negative_format => '(%n)' }) %></span></td>
					<td class="text-right"><span class="pull-right currency"><%= number_to_currency(Year.where(year: today.year).first.goal_year.to_i) %></span></td>
				</tr>
				<tr>
					<td><%= today.strftime('%B') %></td>
					<td class="text-right"><span class="pull-right currency green"><%= number_to_currency(Invoice.paidByMonth(today.year, today.month).sum('cost'), { :negative_format => '(%n)' }) %></span></td>
					<td class="text-right"><span class="pull-right currency"><%= number_to_currency(Year.where(year: today.year).first.goals_months[today.month - 1].to_i) %></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="nopad-side col-sm-8 col-sm-offset-2">
		<div class="chart-wrap"><%= column_chart chart_trailing_x_months_path(5), library: {
			plotOptions: {
				column: {
					grouping: false
				}
			}
		} %></div>
	</div>
</div>
