<footer class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<p>&copy; <%= company_full_name %></p>
				<a href="<%= company_site_url %>" title="<%= company_full_name %>" class="hidden-print"><img id="footer-logo" src="<%= company_logo_url %>" alt="<%= company_full_name %>"></a>
			</div>
		</div>
	</div>
</footer>