<footer class="pad">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<nav id="footer-nav">
					<ul>
						<li><%= link_to 'Clients', clients_path %></li><li><%= link_to 'Projects', projects_path %></li><li><%= link_to 'Invoices', invoices_path %></li><li><%= link_to 'Goals', goals_path %></li><li><a href="/year2014" title="2014">2014</a></li>
					</ul>
				</nav>
				<p>&copy; <%= company_full_name %></p>
				<a href="<%= company_site_url %>" title="<%= company_full_name %>" class="hidden-print"><img id="footer-logo" src="<%= company_logo_alt_url %>" alt="<%= company_full_name %>"></a>
			</div>
		</div>
	</div>
</footer>