<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %><% if yield(:title).length > 0 %> | <% end %><%= company[:abbrv_name] %> Biz Admin</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" href="<%= company[:logo][:favicon] %>">
  <link rel="shortcut icon" href="<%= company[:logo][:favicon] %>">
  <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.15.1/css/all.css' %>
  <% # stylesheet included and scss commented out in style.css.scss because font files aren't coming through in production %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body class="controller-<%= controller_name %> action-<%= action_name %>">

<% if !user_signed_in? %>
<%= yield %>
<% else %>
<%= render 'layouts/header' %>
<main>
	<%= render 'layouts/nav' %>
	<section>
		<%= render 'layouts/alert' %>
		<%= yield %>
	</section>
</main>
<%= render 'layouts/footer' %>
<% end %>

</body>
</html>
