<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %><%= company_abbrv_name %> Biz Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" href="<%= company_favicon_url %>">
  <link rel="shortcut icon" href="<%= company_favicon_url %>">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://use.typekit.net/rwh3txf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

<%= render 'layouts/header' %>

<% if user_signed_in? and (!notice.nil? or !alert.nil?) %>
<section class="notice-alert">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <% if !notice.nil? %>
        <p><%= notice %></p>
        <% end %>
        <% if !alert.nil? %>
        <p><%= alert %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
