<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %><%= company[:abbrv_name] %> Biz Admin</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" href="<%= company[:logo][:favicon] %>">
  <link rel="shortcut icon" href="<%= company[:logo][:favicon] %>">
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=PT+Mono' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<%= render 'layouts/header' %>

<% if (!notice.nil? or !alert.nil?) and (user_signed_in? or controller_name == 'sessions') %>
<section class="notice-alert">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <% if !notice.nil? %>
        <p><%= notice %></p>
        <% end %>
        <% if !alert.nil? %>
        <p><%= alert %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
